</div>
<footer class="bg-dark text-white py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>HelpingHands</h5>
                <p  style="line-height: 1.5; font-size:0.95rem;">Bringing relief and hope through <br>community-driven donations and volunteer work.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/donate" class="text-light text-decoration-none d-flex align-items-center link-hover"><i class="fa-solid fa-hand-holding-dollar  me-2"></i>  Donate</a></li>
                    <li class="mb-2"><a href="/volunteer" class="text-light text-decoration-none d-flex align-items-center link-hover"><i class="fa-solid fa-handshake-angle me-2"></i></i>  Volunteer</a></li>
                    <li class="mb-2"><a href="/inventory" class="text-light text-decoration-none d-flex align-items-center link-hover"><i class="fa-solid fa-box me-2"></i>  Inventory</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Contact Us</h5>
                <p class="small mb-1"><i class="fa-solid fa-phone"></i>+91 9876543210</p>
                <p class="small mt-2"><i class="fa-solid fa-envelope"></i> support@helpinghands.org</p>

                <div>
                    <a href="#" class="text-white me-3"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="#" class="text-white me-3"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#" class="text-white me-3"><i class="fa-brands fa-square-x-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="fa-brands fa-square-github"></i></a>
                </div>
            </div>        
        </div>

        <hr class="border-top border-light" />
        <p class="text-center small mb-0">&copy; 2025 HelpingHands. All rights reserved.</p>
    </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" 
     integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
    
</body>
</html>